<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/transaksi.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/png" href="/images/logo.png" />

    <title>My Laundry | <%= title %></title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <%- include("../partials/nav.ejs") %>

    <!-- Awal Back-->
    <div class="previous" style="padding-top: 6rem">
      <a href="/transaction" class="kembali text-white ml-5">&#8249; BACK</a>
    </div>
    <!--Akhir Back-->

    <!-- Awal Form-->
    <div class="container pt-5">
      <h1 class="text-center mb-5">Edit Transaction</h1>
      <form
        action="/transaction/edit/<%= item.id %>"
        ?_method="PUT"
        method="post"
      >
        <div class="row">
          <div class="col-lg-6 mt-3">
            <label for="Nama" class="form-label">Nama :</label>
            <input
              type="text"
              class="form-control"
              value="<%= item.name %>"
              name="name"
            />
          </div>
          <div class="col-lg-6 mt-3">
            <label for="Paket" class="form-label">Paket :</label>
            <select
              class="form-select"
              name="paket"
              id="paket"
              onchange="checkOptgroupSelected()"
            >
              <option selected hidden><%= item.paket %></option>
              <optgroup label="Kiloan">
                <option>Cuci Basah</option>
                <option>Cuci Kering</option>
                <option>Cuci Kering Lipat</option>
                <option>Cuci Kering Setrika</option>
                <option>Setrika</option>
              </optgroup>
              <optgroup label="Satuan">
                <option>Gorden Tipis</option>
                <option>Gorden Tebal</option>
                <option>Selimut</option>
                <option>Bed Cover</option>
                <option>Jas</option>
              </optgroup>
            </select>
          </div>
          <div class="col-lg-6 mt-3">
            <label for="Paket" class="form-label">Durasi :</label>
            <select class="form-select" name="durasi">
              <option selected hidden><%= item.durasi %></option>
              <option>6 jam</option>
              <option>1 hari</option>
              <option>2 hari</option>
            </select>
          </div>
          <div class="col-lg-6 mt-3" id="divBerat">
            <label for="Berat" class="form-label">Berat :</label>
            <input
              type="text"
              class="form-control"
              value="<%= item.berat %> kg"
              name="berat"
            />
          </div>
          <div class="col-lg-6 mt-3" id="divMeter" style="display: none">
            <label for="MeterOrBuah" class="form-label">Meter/Buah :</label>
            <input
              type="text"
              class="form-control"
              value="<%= item.meterOrbuah %> meter/buah"
              name="meterOrbuah"
            />
          </div>
          <div class="col-lg-6 mt-3">
            <label for="Waktu Pesan" class="form-label">Waktu Pesan :</label>
            <input
              type="text"
              class="form-control"
              value="<%= item.waktuPesan %>"
              name="waktuPesan"
            />
          </div>
          <div class="col-lg-6 mt-3">
            <label for="Tanggal Pesan" class="form-label"
              >Tanggal Pesan :</label
            >
            <input
              type="text"
              class="form-control"
              value="<%= item.tglPesan %>"
              name="tglPesan"
            />
          </div>

          <div class="col-lg-6 mt-3">
            <label for="Waktu Pengambilan" class="form-label"
              >Waktu Pengambilan :</label
            >
            <input
              type="text"
              class="form-control"
              value="<%= item.waktuPengambilan %>"
              name="waktuPengambilan"
            />
          </div>
          <div class="col-lg-6 mt-3">
            <label for="Tanggal Pengambilan" class="form-label"
              >Tanggal Pengambilan :</label
            >
            <input
              type="text"
              class="form-control"
              value="<%= item.tglPengambilan %>"
              name="tglPengambilan"
            />
          </div>
          <div class="col-lg-6 pb-5 mt-3 mb-5">
            <label for="Harga" class="form-label">Harga :</label>
            <input
              type="text"
              class="form-control"
              value="Rp. <%= item.harga %>"
              name="harga"
            />
          </div>
          <div class="col-lg-3"></div>
          <div class="col-lg-3 d-grid pt-3 pb-5 mt-2 mb-5">
            <button type="submit" class="btn btn-info text-white mt-4">
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
    <!-- Akhir Form-->
    <%- include("../partials/footer.ejs") %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script>
      let paketVal = "<%= item.paket %>";

      window.onload = checkPaketVal = () => {
        if (
          paketVal == "Cuci Basah" ||
          paketVal == "Cuci Kering" ||
          paketVal == "Cuci Kering Lipat" ||
          paketVal == "Cuci Kering Setrika" ||
          paketVal == "Setrika"
        ) {
          divBerat.style.display = "block";
          divMeter.style.display = "none";
        } else {
          divBerat.style.display = "none";
          divMeter.style.display = "block";
        }
      };
      //Check paket value
      function checkOptgroupSelected() {
        let selected = document.querySelector(
          'select[name="paket"] option:checked'
        ).parentElement.label;

        //Change berat and meter
        const divBerat = document.getElementById("divBerat");
        const divMeter = document.getElementById("divMeter");

        if (selected == "Satuan") {
          divBerat.style.display = "none";
          divMeter.style.display = "block";
        } else {
          divBerat.style.display = "block";
          divMeter.style.display = "none";
        }
      }
    </script>
  </body>
</html>
