<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/transaksi.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/png" href="/images/logo.png" />

    <title>My Laundry | <%= title %></title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <%- include("../partials/nav.ejs") %>

    <!-- Awal Booking -->
    <div class="container mt-5">
      <h1 class="text-center mb-3" style="padding-top: 5rem">Transaction</h1>
      <a href="/transaction" class="btn btn-primary rounded-pill me-3 mb-2"
        >Works in Progress</a
      >
      <a href="/transaction-finished" class="btn btn-info rounded-pill mb-2"
        >Works Finished</a
      >
      <a
        href="/transaction/add"
        class="btn btn-success rounded-pill mb-2"
        style="float: right"
        >New Order</a
      >
      <table class="table table-bordered">
        <thead>
          <tr class="table-info text-center">
            <th style="width: 3%">No.</th>
            <th style="width: 24%">Nama</th>
            <th style="width: 20%">Jam, Tanggal Pesan</th>
            <th style="width: 33%">Paket</th>
            <th style="width: 20%">Aksi</th>
          </tr>
        </thead>
        <tbody>
          <% items.forEach((item)=> { %>
          <tr>
            <td class="count text-center"></td>
            <td><%= item.name %></td>
            <td><%= item.waktuPesan + ", " + item.tglPesan %></td>
            <td><%= item.paket + ", " + item.durasi %></td>
            <td class="d-inline-flex text-center">
              <a
                href="/transaction/edit/<%= item._id %>"
                class="btn btn-warning rounded-pill me-1 text-white"
                >edit</a
              >
              <form
                action="/transaction/delete/<%= item._id %>"
                ?_method="DELETE"
                method="post"
              >
                <button type="submit" class="btn btn-danger rounded-pill me-1">
                  cancel
                </button>
              </form>
              <form
                action="/transaction/finished/<%= item._id %>"
                method="post"
              >
                <button type="submit" class="btn btn-success rounded-pill me-1">
                  done
                </button>
              </form>
              <button
                class="btn btn-info rounded-pill me-1"
                data-bs-toggle="modal"
                data-bs-target="#myModal"
              >
                print
              </button>
              <!-- The Modal -->
              <div class="modal" id="myModal">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">MyLaundry</h4>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                      ></button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body text-start">
                      <p>ID Pesanan: <%= item._id %></p>
                      <p>Nama: <%= item.name %></p>
                      <p>Paket: <%= item.paket %></p>
                      <p>Berat: <%= item.berat %></p>
                      <p>Meter/Buah: <%= item.meterOrbuah %></p>
                      <p>Harga: Rp. <%= item.harga %></p>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-info"
                        data-bs-dismiss="modal"
                      >
                        Print
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <!-- Akhir Booking -->
    <%- include("../partials/footer.ejs") %>

    <script>
      function onClick() {
        let itemID = document.getElementById("itemID");
        let dataID = itemID.getAttribute("data-id");
        console.log(dataID);
      }
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
